<div class="album-full-cover img-shadow">
	<img src="<%= @album.cover_url %>">
	<h2><%= @album.author %></h2>
</div>
<div class="albums-container">
<% @album.pictures.each do |picture| %>
	<div class="album img-shadow">
		<img src="<%= picture.picture_url %>" alt="">
		<div class="title"><span><%= picture.uploader %></span></div>
		<a href="<%= picture_path(picture.id) %>"></a>
		<div class="view-count">
			<i class="fa fa-eye fa-1" aria-hidden="true"></i>
			<span><%= picture.view_count %></span>
		</div>
	</div>
<% end %>
</div>