<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Webapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-default navbar-default-custom">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <img class="navbar-brand" src="<%= asset_path('logo.jpg') %>"></img>
	    </div>
	    <div class="navbar-collapse-custom collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="<%= isMenuActive('/home') %>"><%= link_to 'Home', 'home' %></li>
	        <li class="<%= isMenuActive('/albums')  %>"><%= link_to 'Albums', 'albums' %></li>
	        <li class="<%= isMenuActive('/blog')  %>"><%= link_to 'Blog', 'blog' %></li> 
	        <li class="<%= isMenuActive('/about')  %>"><%= link_to 'About', 'about' %></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
  	<div class="container">
  		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="#">Home</a></li>
		  <li class="breadcrumb-item active">Sample</li>
		</ol>
		<div class="row">
			<div class="col-md-3">
				<div id="listgroup" class="lmenu-btn-show">
					More
					<button class="navbar-toggler" data-toggle="collapse" data-target="#myAddition">
		  				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		  			</button>
				</div>
				<div class="lmenu collapse navbar-collapse" id="myAddition">
					<div class="list-group">
					    <a class="list-group-item" href="#">
					    	<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
					    	New feed
					    </a>
					    <a class="list-group-item" href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Messenger</a>
					    <a class="list-group-item" href="#"><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>&nbsp;Event</a>
					    <a class="list-group-item" href="#"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>&nbsp;Group</a>
					    <a class="list-group-item" href="#"><span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;Game</a>
					    <a class="list-group-item" href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;List friend</a>
					    <a class="list-group-item" href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Calendar</a>
				    </div>
				</div>
			</div>
			<div class="col-md-9">
				<%= yield %>
			</div>
		</div>
    </div>
    <footer>
	    <div class="container">
		  	<p>Copyright 2017 by Trí &amp; Vũ. All Rights Reserved.</p>
		</div>
	</footer>
  </body>
</html>
