<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Webapp</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark navbar-default-custom navbar-expand-lg">
			<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<img class="navbar-brand logo" src="<%= asset_path('logo.png') %>">
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%= isMenuActive('/home') %>"><a class="nav-link" href="<%= home_path %>">Home</a></li>
					<li class="nav-item <%= isMenuActive('/albums')  %>"><a class="nav-link" href="<%= albums_path %>">Albums</a></li>
					<li class="nav-item <%= isMenuActive('/blog')  %>"><a class="nav-link" href="<%= blog_path %>">Blog</a></li>
					<li class="nav-item <%= isMenuActive('/about')  %>"><a class="nav-link" href="<%= about_path %>">About</a></li>
				</ul>
			</div>
			<ul class="navbar-nav ml-auto">
			  <button class="btn btn-outline-primary mr-2">Đăng ký</button>
		      <button class="btn btn-outline-primary">Đăng nhập</button>
		    </ul>
		</div>
		</nav>
		<div class="breadcrum-panel">
			<div class="container">
				<ol class="breadcrumb breadcrumb-custom">
					<% @breadcums.each_with_index do |item, index| %>
					<li class="breadcrumb-item breadcrumb-item-custom <%= index==@breadcums.length-1 ? "" : "active" %>">
						<% if index==@breadcums.length-1 %>
						<%= item[:title] %>
						<% else %>
						<a href="<%= item[:url] %>"><%= item[:title] %></a>
						<% end %>
					</li>
					<% end %>
				</ol>
			</div>
		</div>
		<div class="container container-content">
			<div class="row">
				<div class="col-md-3">
					<div id="listgroup" class="lmenu-btn-show">
						More
						<button class="navbar-toggler" data-toggle="collapse" data-target="#myAddition">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
						</button>
					</div>
					<div class="lmenu collapse navbar-collapse" id="myAddition">
						<div class="list-group">
							<a class="list-group-item" href="#">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
								New feed
							</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Messenger</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>&nbsp;Event</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>&nbsp;Group</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;Game</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;List friend</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Calendar</a>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<%= yield %>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<p>Copyright 2017 by Trí &amp; Vũ. All Rights Reserved.</p>
			</div>
		</footer>
	</body>
</html>