<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Webapp</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark navbar-default-custom navbar-expand-lg">
			<div class="container">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<img class="navbar-brand logo" src="<%= asset_path('logo.png') %>">
				<div class="navbar-collapse collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item <%= is_menu_active('/home') %>"><a class="nav-link" href="<%= home_path %>">Home</a></li>
						<li class="nav-item <%= is_menu_active('/albums')  %>"><a class="nav-link" href="<%= albums_path %>">Albums</a></li>
						<li class="nav-item <%= is_menu_active('/blog')  %>"><a class="nav-link" href="<%= blog_index_path %>">Blog</a></li>
						<li class="nav-item <%= is_menu_active('/about')  %>"><a class="nav-link" href="<%= about_path %>">About</a></li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<% if !login? %>
						<button class="btn btn-outline-custom mr-lg-2"><%= link_to "Đăng ký",session_register_path %></button>
						<button class="btn btn-outline-custom"><%= link_to "Đăng nhập",session_login_path %></button>
						<% else %>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  <%= session[:user_name] %></a>
							<div class="dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdownMenuLink">
								<%= link_to "Đăng xuất",session_path(session[:user_id]), method: :delete, class: "dropdown-item" %>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="breadcrum-panel">
			<div class="container">
				<ol class="breadcrumb breadcrumb-custom">
					<% @breadcums.each_with_index do |item, index| %>
					<li class="breadcrumb-item breadcrumb-item-custom <%= index==@breadcums.length-1 ? "" : "active" %>">
						<% if index==@breadcums.length-1 %>
						<%= item[:title] %>
						<% else %>
						<a href="<%= item[:url] %>"><%= item[:title] %></a>
						<% end %>
					</li>
					<% end %>
				</ol>
			</div>
		</div>
		<% if !@view_options[:homepage] %>
		<div class="container container-content">
			<div class="row">
				<div class="col-md-2 col-leftmenu">
					<div id="listgroup" class="lmenu-btn-show">
						<button class="navbar-toggler navbar-toggler-custom" type="button" data-toggle="collapse" data-target="#myAddition">
						Show
						</button>
					</div>
					<div class="lmenu navbar-collapse collapse show" id="myAddition">
						<div class="list-group">
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Home</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Albums</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>&nbsp;Blog</a>
							<a class="list-group-item" href="#"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>&nbsp;About</a>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-content">
					<%= yield %>
				</div>
			</div>
		</div>
		<% else %>
		<%= yield %>
		<% end %>
		<footer>
			<div class="container">
				<p>Copyright 2017 by Trí &amp; Vũ. All Rights Reserved.</p>
			</div>
		</footer>
	</body>
</html>